test2/bin/
test2/gen/
.project
appcompat/bin/
recyclerview/bin
cardview/bin/
cardview/gen/
FloatingActionButtonLibrary/bin/
FloatingActionButtonLibrary/gen/
FloatingActionButtonLibrary/bin/*
NineOldDroidLibrary/bin/
NineOldDroidLibrary/gen/
NineOldDroidLibrary/bin/*
google-play-services_lib/bin/
FloatingActionButtonLibrary/.classpath
NineOldDroidLibrary/.classpath
appcompat/.classpath
cardview/.classpath
recyclerview/.classpath
test2/.classpath
